{% extends "base.html" %}
<script>
    // change price if user select variation
    {% block jquery %}

    function setPrice(){
        var price = $(".variation_select option:selected ").attr("data-price")
        var sale_price = $(".variation_select option:selected").attr("data-sale-price")
        if (sale_price != "" && sale_price != "None" && sale_price != null){
            $("#price").html("<h3>" + sale_price + " <small style='color:red;text-decoration:line-through;'>Original price:"
            + price + "</small></h3>");
        } else {
            $("#price").html(price);
        }
    }
    setPrice()

    $(".variation_select").change(function(){
        setPrice()
        // var img = $(".variation_select option:selected").attr("data-img")
        // $("img").attr("src",img);
    });
    {% endblock %}
</script>

{% block content %}
<div class="row">

<div class="col-sm-8">
<h2>{{ object.title }}</h2>

{# Product Image #}
{% if object.productimage_set.count > 0 %}
<div>
{% for img in object.productimage_set.all %}
    <img id='img' class="img-responsive" src='{{ img.image.url }}' />
{% endfor %}
</div>
{% endif %}

<p class="lead">
    {{ object.description }}
</p>
</div>

{# Product Sidebar #}
<div class="col-sm-4">

<h3 id='price'>{{ object.price }}</h3>
{% if object.variation_set.count > 1 %}
{# dropdown option #}
<select class="form-control variation_select">

{% for vari_obj in object.variation_set.all %}
<option data-img="#" data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
{% endfor %}}

</select>
{% endif %}
<br/>
<a href="#">Add to Cart</a>
<br/>

{# Social share #}
<hr/>
<p>Share<br/>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x"></i>
<a href="#">
<i class="fa fa-twitter-square fa-3x"></i>
</p>
<hr/>

<h4>Related Product</h4>

</div>
</div>
{% endblock  %}
